.md-grid { /* adjust the page's position */
  max-width: 2450px;
  margin-left: 0;
  margin-right: auto;
}

.md-header { 
    height: 3.3rem;
}

.md-tabs {
    min-height: 2rem; /* Ensure tabs themselves fit */
    margin-top: -0.4rem;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.md-tabs__item {
    height: 2rem; /* Make sure each tab item fits the header height */
    line-height: 1rem; /* Vertically center text in tab items */
    padding: 0 0.5rem; /* Reduce horizontal padding as needed */
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 2.5rem; /* Make logo slightly smaller to fit well */
    width: auto;
}

.md-typeset h5,
.md-typeset h6 { /* making <h5><h6> lowercase and giving them the theme's color */ 
    text-transform: none; /* Prevents uppercasing */
    color: var(--md-default-fg-color);
}

.arithmatex {
  visibility: hidden;
}

.MathJax {
  visibility: visible;
}

